@import url('./reset.css');

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/wall.png');
}

.menu-title {
  color: #ff0000;
  margin-bottom: .8rem;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  width: 100vw;
  background-color: #000;
  color: #fff;
  border-bottom: 5px solid #ffd700;
}

.menu-lives {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  height: 150px;
  width: 150px;
  border: 1px solid #000;
  background-color: #1aeaa5;
}

.enemy {
  background-image: url('../images/ralph.png');
  background-size: cover;
  background-position: center center;
}

.hide {
  display: none !important;
}

.modal {
  background-color: #000;
  color: #fff;
  height: 400px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 33%;
  left: 33%;
  z-index: 999;
  padding: 1rem;
  border: 5px solid #ffd700;
}

.modal-header {
  text-align: center;
  margin: 20px 0;
}

.modal-body {
  text-align: center;
  font-size: 1rem;
  line-height: 2.5rem;
}

.modal-footer {
  margin: 20px;
}

.modal-footer #reset {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #ffd700;
  opacity: .8;
}

.modal-footer #reset:hover {
  opacity: 1;
}